/output
/*_output
/.nwsoft_archive
lost+found/

# Ignore top level githelper generated artifacts.
/Makefile
/make_configure
/sections.ini
/package.cfg
/tools/build_kernels/

# Ignore other temp files
*.swp
